<div class="modal fade" #modal tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Add new user</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="form">
          <div class="mb-3">
            <label for="username" class="col-form-label">Name:</label>
            <input type="text"
                   formControlName="username"
                   class="form-control"
                   id="username" />
            <div *ngIf="form.touched || form.dirty"
                 validationError
                 controlName="username"
                 [formGroup]="form">
            </div>
          </div>
          <div class="mb-3">
            <label for="email" class="col-form-label">Primary email:</label>
            <input type="email"
                   formControlName="email"
                   class="form-control"
                   id="email"/>
            <div *ngIf="form.touched || form.dirty"
                 validationError
                 controlName="email"
                 [formGroup]="form">
            </div>
          </div>
        </form>

        <div *ngIf="isLoading" class="alert alert-info mt-2" role="alert">
          Creating user...
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="submit()">Create</button>
      </div>
    </div>
  </div>
</div>
