<div class="row">
  <div class="d-flex">
    <button
      type="button"
      class="btn"
      [class]="
        form.pristine && emailForm.pristine ? 'btn-secondary' : 'btn-danger'
      "
      (click)="navigationBack()"
    >
      Back to list
    </button>
    <button
      type="button"
      class="btn btn-primary mx-2"
      [disabled]="!form.valid || !emailForm.valid"
      (click)="submit()"
    >
      Save changes
    </button>
    @if (isLoading) {
      <loader text="Loading..." />
    }
  </div>

  <form [formGroup]="form" class="col-xl-6 col-md-6 col-sm-12 mt-3">
    <div class="mb-3">
      <label for="name" class="col-form-label">Name:</label>
      <input
        autocomplete="given-name name"
        type="text"
        formControlName="username"
        class="form-control"
        id="name"
      />
      <div
        validationError
        [controlName]="ControlName.Username"
        [formGroup]="form"
      ></div>
    </div>
    <div class="mb-3">
      <label for="email" class="col-form-label">Primary email:</label>
      <input
        autocomplete="email"
        type="email"
        formControlName="email"
        class="form-control"
        id="email"
      />
      <div
        validationError
        [controlName]="ControlName.Email"
        [formGroup]="form"
      ></div>
    </div>

    <form [id]="'emailForm'" class="mb-3" [formGroup]="emailForm">
      <div formArrayName="emails">
        <label class="col-form-label" for="email">Additional emails:</label>
        @for (email of emails.controls; track email; let i = $index) {
          <div [formGroupName]="i" class="position-relative">
            <input
              autocomplete="email"
              name="email"
              formControlName="email"
              class="form-control mt-2"
              placeholder="Enter email"
            />
            <div
              validationError
              [controlName]="ControlName.Email"
              [formGroup]="getFormGroup(email)"
            ></div>
            <i class="btn btn-sm remove-email" (click)="removeEmail(i)"></i>
          </div>
        }
      </div>
      <button type="button" class="btn btn-secondary mt-3" (click)="addEmail()">
        Add email
      </button>
    </form>
  </form>

  @if (isSuccessMessage) {
    <div class="alert alert-success mt-5" role="alert">
      User successfully updated!
    </div>
  }
</div>
