<div class="d-flex">
  <button type="button" class="btn btn-primary" (click)="openAddUserModal()">
    Add user
  </button>
  @if (isLoading) {
    <loader text="Loading..." class="mx-2" />
  }
</div>

<ul class="list-group list-group-flush mt-4">
  @for (user of users; track user.id) {
    <user-item
      class="list-group-item"
      [user]="user"
      (deleteUser)="deleteUser(user.id)"
    />
  }
</ul>

@if (isSuccessMessage) {
  <div class="alert alert-success mt-5" role="alert">
    User successfully removed!
  </div>
}

<add-user-modal [isOpen]="isAddUserModalOpen" (addUser)="addUser($event)" />
